.mastet-container {
  width: 90%;
  margin: auto;

  table {
    margin-top: 1rem;
    width: 100%;

    td,
    th {
      cursor: default;

      div {
        text-align: end;
      }

      button {
        margin-left: 1rem;
      }
    }

  }

  .container {
    margin-top: .5rem;
    text-align: center;

    .btn-add-user{
      width: 70%;
    }
  }
}
