<mat-toolbar color="primary">
  <mat-toolbar-row class="card mat-elevation-z7">
    <img src=".\assets\logo.svg" height=50 alt="">
    <span>Sparta</span>
    <nav>
      <button *ngFor="let route of routes" mat-button [routerLink]=route.link >{{route.name}}</button>

    </nav>
    <span fxFlex="auto"></span>
    <button mat-button [matMenuTriggerFor]="menu" class="menu">{{curentUser.username}}({{curentUser.role | role}})
      <mat-icon>keyboard_arrow_down</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item (click)="logout()" >Выход</button>
    </mat-menu>
  </mat-toolbar-row>
</mat-toolbar>
<router-outlet></router-outlet>
