<h4 mat-dialog-title>{{header}}</h4>
<mat-dialog-content [formGroup]="form" (ngSubmit)="submit()">
  <mat-form-field class="field" *ngIf="isCreateForm">
    <mat-label>имя пользователя</mat-label>
    <input matInput formControlName="username">
  </mat-form-field>
  <br>
  <mat-form-field class="field">
    <mat-label>ФИО</mat-label>
    <input matInput formControlName="realName">
  </mat-form-field>
  <br>
  <mat-form-field class="field">
    <mat-label>номер телефона</mat-label>
    <input matInput prefix="+7 " mask="(000) 000 00 00" formControlName="phoneNumber">
  </mat-form-field>
  <br>
  <mat-form-field class="field">
    <mat-label>Права</mat-label>
    <mat-select  formControlName="role">
      <mat-option value="admin">Администратор</mat-option>
      <mat-option value="coach">Тренер</mat-option>
      <mat-option value="manager">Администратор-консультант</mat-option>
      <mat-option value="user">Пользователь</mat-option>
    </mat-select>
  </mat-form-field>
  <br>
  <mat-checkbox *ngIf="data" class="example-margin"  formControlName="isDropPassword">Сбросить пароль</mat-checkbox>
</mat-dialog-content>
<mat-dialog-actions center>
  <button mat-raised-button (click)="onNoClick()">Отмена</button>
  <button mat-raised-button (click)="submit()" color="primary">Сохранить</button>
</mat-dialog-actions>
