<h4 mat-dialog-title>Редактирование {{data.username}}</h4>
<mat-dialog-content [formGroup]="form" (ngSubmit)="submit()">
  <mat-form-field class="field">
    <mat-label>имя пользователя</mat-label>
    <input matInput formControlName="username">
  </mat-form-field>
  <br>
  <mat-form-field class="field">
    <mat-label>номер телефона</mat-label>
    <input matInput prefix="+7 " mask="(000) 000 00 00" formControlName="phoneNumber">
  </mat-form-field>
  <br>
  <mat-form-field class="field">
    <mat-label>Права</mat-label>
    <mat-select  formControlName="role">
      <mat-option value="admin">admin</mat-option>
      <mat-option value="user">user</mat-option>
    </mat-select>
  </mat-form-field>
  <br>
  <mat-checkbox class="example-margin"  formControlName="isDropPassword">Сбросить пароль</mat-checkbox>
</mat-dialog-content>
<mat-dialog-actions center>
  <button mat-raised-button (click)="onNoClick()">Отмена</button>
  <button mat-raised-button (click)="submit()">Сохранить</button>
</mat-dialog-actions>
